app/config/config.yml
app/cache/*
app/logs/*
/web/bundles/*
.settings/*
.buildpath
.project
/*.tmproj
/jackrabbit/repository/datastore
/jackrabbit/repository/index
/jackrabbit/workspaces/cmf/db
/jackrabbit/workspaces/cmf/index
/jackrabbit/workspaces/cmf/locks
/jackrabbit/version
/jackrabbit/log
/jackrabbit/workspaces/security
/jackrabbit/workspaces/default
/jackrabbit/tmp
/jackrabbit/.lock
/jackrabbit/workspaces/tests/db
/jackrabbit/workspaces/tests/index
/jackrabbit/workspaces/tests/locks
/jackrabbit-standalone*
