html {
    text-align: center;
    font: .825em/1.5 Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    border-top: 15px solid #DAF22F;
}

body {
    padding: 0;
    margin: 0;
    text-align: left;
    border-top: 3px solid #b3ca0d;
}

h2 {
    font-weight: normal;
}

p {
    max-width: 33em;
}

a {
    color: #214881;
}

hr {
    border: 0;
    width: 100%;
    border-bottom: 1px solid #aaa;
}

.container {
    padding: 1em 3em;
}

ul.breadcrumb {
    margin-left: 0px;
    padding-left: 0px;

}
ul.breadcrumb li {
    display: inline;
    margin-left: 0px;
    padding-left: 0px;
}
ul.breadcrumb li:after {
    content: ' /';
}
ul.breadcrumb li:last-child:after {
    content: '';
}
