{% extends "HackdayBundle:Admin:layout.html.twig" %}

{% block title %}Create a new page{% endblock %}

{% block content %}
<h2>Welcome to the Admin!</h2>

<ul>
    <li><a href="{{ path('admin_create') }}">Create a new page</a></li>
</ul>
{% endblock %}
