<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Admin{% endblock %}</title>
    </head>
    <body>
        <p>{{ app.session.flash('notice') }}</p>
        {% block content %}{% endblock %}
    </body>
</html>
